/* start group */
:root {
    --main-color: #ec6090;
    --white-color: #fff;
    --main-bg: #1f2122;
    --section-bg: #27292a;
    --font-color: #666;
    --main-transition: .35s;
    --main-radius: 23px;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg);
    color: var(--white-color);
}
html {
    scroll-behavior: smooth;
}
::selection {
    background-color: var(--main-color);
    color: var(--white-color);
}
img {
    width: 100%;
    overflow: hidden;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
input {
    outline: none;
}

/* main button */
.main-button a,
.main-border-button a {
    text-align: center;
    padding: 12px 30px;
    border-radius: 30px;
    color: var(--white-color);
    font-weight: 600;
    border: 1px solid var(--main-color);
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    display: inline-block;
    transition: var(--main-transition);
    cursor: pointer;
    background-color: var(--main-color);
}
.main-button a:hover,
.main-border-button a:hover {
    color: var(--main-color);
    background-color: var(--white-color);
    border-color: var(--white-color);
}
.main-border-button a {
    color: var(--main-color);
    background-color: transparent;
}
.border-no-active a {
    border-color: var(--font-color);
    color: var(--font-color);
}
.bottom-button {
    margin-bottom: -53.5px;
    text-align: center;
}
/* heading-section */
.heading-section h2 {
    color: var(--main-color);
    font-size: 34px;
    margin-bottom: 30px;
    font-weight: 700;
}
.heading-section h2 span {
    color: var(--white-color);
    text-decoration: underline;
}
@media (max-width: 992px) {
    .heading-section h2 {
        font-size: 25px;
    }
}
/* text item */
.item h4 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
}
.item h4 span {
    color: var(--font-color);
    margin-top: 7px;
    display: block;
    font-weight: 400;
}
.item ul {
    float: right;
    margin-top: 20px;
}
.item ul li {
    font-size: 14px;
    text-align: right;
}
.item ul li:first-child svg {
    color: yellow;
}
.item ul li:last-child svg {
    color: var(--main-color);
}

/* box */
.box,
.box-mg {
    padding: 30px;
    border-radius: var(--main-radius);
    background-color: var(--main-bg);
}
.box-mg {
    margin-top: 60px;
}
/* border radius */
.radius {
    border-radius: var(--main-radius);
}
/* p */
p {
    font-size: 15px;
    line-height: 30px;
    color: var(--font-color);
    margin: 0;
    text-align: start;
}
p a {
    color: #ccc;
    transition: var(--main-transition);
}
p a:hover {
    color: #F99;
}

/* start details */
.thumb-phto a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: var(--white-color);
    border-radius: 50%;
    width: 47px;
    height: 47px;
    text-align: center;
    line-height: 49px;
    color: var(--main-color);
    font-size: 18px;
}
/* end group */

/* start js-preloader */
.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.98);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    transition: opacity 0.25s ease;
}
.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: transparent;
}
.preloader-inner span {
    width: 16px;
    height: 16px;
    background: var(--main-color);
    border-radius: 50%;
}
.preloader-inner .dot {
    position: absolute;
    top: 12px;
    left: 15px;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}
.preloader-inner .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}
.preloader-inner .dots span {
    display: block;
    float: left;
    margin-left: 16px;
}
/* end js-preloader */

/* start header */
header {
    background-color: transparent;
    top: 15px;
    height: 70px;
}
@media (max-width: 992px) {
    header {
        background-color: #171c1eb0;
        top: 0;
    }
}
header .content {
    min-height: 80px;
    padding: 15px 0;
}
header .logo {
    margin-right: 30px;
    flex-basis: 25%;
    z-index: 100;
}
@media (max-width: 992px) {
    header .logo {
        position: absolute;
        left: 30px;
    }
}
header .logo img {
    width: 191px;
}

header #search input {
    background-color: var(--section-bg);
    color: var(--font-color);
    height: 46px;
    padding: 0 15px 0 45px;
    font-size: 14px;
}
header #search svg {
    color: var(--font-color);
    left: 20px;
}

header .linkes {
    flex-basis: 70%;
}
header .linkes ul li {
    padding-left: 5px;
    padding-right: 5px;
}
header .linkes ul li a {
    display: block;
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 13px 10px;
    border-radius: 18px;
    letter-spacing: 0.3px;
    transition: .5s;
}
header .linkes ul li:last-child a {
    background-color: var(--section-bg);
    padding: 8px 10px 8px 20px;
}
header .linkes ul li:last-child a img {
    max-width: 30px;
    margin-left: 5px;
}
header .linkes ul li a.active,
header .linkes ul li a:hover {
    color: var(--main-color);
}
header .linkes ul li:last-child a.active,
header .linkes ul li:last-child a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}
@media (max-width: 992px) {
    header .linkes ul li:last-child a.active,
    header .linkes ul li:last-child a:hover {
        background-color: #171c1e;
        color: var(--main-color);
    }
}

/* menu */
header .menu {
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: 0.4s;
    right: 30px;
}
header .menu span {
    background-color: var(--main-color);
    width: 30px;
    height: 2px;
}
header .menu span::before,
header .menu span::after {
    content: "";
    background-color: var(--main-color);
    width: 75%;
    height: 2px;
    position: absolute;
    transition: 0.8s;
}
header .menu span::before{
    top: -10px;
}
header .menu span::after{
    bottom: -10px;
}

@media (max-width: 992px) {
    header .linkes {
        position: relative;
        width: 100%;
        flex-basis: 100%;
    }
    
    header .linkes ul {
        flex-direction: column;
        z-index: -5;
        transform: translateY(-500px);
        opacity: 0;
        position: absolute;
        margin-top: 30px !important;
        width: 100%;
        border-radius: 6px;
        transition: .9s ease var(--main-transition);
    }

    header .linkes ul li {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #171c1ef0;
        background-color: #171c1ef0;
        padding: 0;
    }
    header .linkes ul li:first-child {
        border-top: 1px solid #171c1ef0;
    }

    header .linkes ul li a {
        color: #a5a4a6;
        height: 50px;
        line-height: 34px;
    }
    header .linkes ul li:last-child a {
        background-color: #171c1ef0;
    }
    header .linkes ul li:last-child a img {
        display: none;
    }
}

header ul.open {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    z-index: 50;
}

/* cloce icon */
header .cloce span {
    width: 100%;
    background-color: transparent;
}
header .cloce span::before {
    transform: translateY(0px) translateX(1px) skewY(45deg);
    top: 0;
    height: 4px;
}
header .cloce span::after {
    transform: translateY(1px) translateX(0px) skewY(-45deg);
    bottom: 0;
    height: 4px;
}
/* end header */

.page-content {
    margin-top: 110px;
    padding: 60px;
    background-color: var(--section-bg);
}

/* start banner */
.main-banner {
    background-image: url(../images/banner-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 60px;
}
.main-banner h6 {
    font-weight: 400;
}
.main-banner h2 {
    font-size: 45px;
    font-weight: 700;
}
.main-banner h4 span {
    color: var(--main-color);
}

/* start popular */
.most-popular .item {
    margin-bottom: 30px;
    padding: 30px 15px;
    background-color: var(--section-bg);
    border-radius: var(--main-radius);
}

/* start gaming */
.gaming-library .item-gam {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--section-bg);
}
.gaming-library .item-gam ul li {
    margin-top: 15px;
    display: inline-block;
    width: 17%;
}
@media (max-width: 1200px) {
    .gaming-library .item-gam ul li {
        width: 16%;
    }
}
.gaming-library .item-gam ul li:first-child {
    width: 110px;
}
@media (max-width: 992px) {
    .gaming-library .item-gam ul li {
        width: 48%;
    }
}
@media (max-width: 992px) {
    .gaming-library .item-gam ul li {
        margin-top: 30px;
        text-align: center;
    }
    .gaming-library .item-gam ul li:first-child,
    .gaming-library .item-gam ul li:last-child {
        width: 100%;
    }
}
.gaming-library .item-gam ul li img {
    margin-top: -30px;
    max-width: 80px;
    border-radius: var(--main-radius);
}
.gaming-library .item-gam ul li h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}
.gaming-library .item-gam ul li span {
    font-size: 14px;
    color: var(--font-color);
}
/* end gaming */

/* start footer */
footer p {
    padding: 30px 0;
    font-weight: 300;
}
footer p a:hover {
    color: var(--main-color);
}
/* end footer */

/* start browser */
/* start Featured */ 
.featured-games .content .swiper-button-prev,
.featured-games .content .swiper-button-next {
    color: var(--font-color);
    transition: var(--main-transition);
    opacity: 1;
    top: -70px;
    right: 0;
    transform: translateY(50%);
}
.featured-games .content .swiper-button-prev {
    left: calc(100% - 54px);
}
@media (min-width: 992px) and (max-width: 1200px) {
    .featured-games {
        height: 670px;
    }
    .featured-games .content {
        margin-top: 70px;
    }
    .featured-games .content .swiper-button-prev,
    .featured-games .content .swiper-button-next {
        top: -112px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .featured-games {
        height: 606px;
    }
    .featured-games .content {
        margin-top: 50px;
    }
    .featured-games .content .swiper-button-prev,
    .featured-games .content .swiper-button-next {
        top: -92px;
    }
}
.featured-games .content .swiper-button-prev::after,
.featured-games .content .swiper-button-next::after {
    font-size: 15px;
    font-weight: bold;
}
.featured-games .content .swiper-button-prev:hover,
.featured-games .content .swiper-button-next:hover {
    color: var(--main-color);
}

.featured-games .item .thumb .hover-effect {
    bottom: -100px;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s
}
.featured-games .item .thumb .hover-effect h6 {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
    background-color: rgba(31,33,34,0.95);
    padding: 10px 20px;
}
.featured-games .item .thumb:hover .hover-effect {
    opacity: 1;
    visibility: visible;
    bottom: 15px;
}
/* start downloaded */
@media (max-width: 992px) {
    .top-downloaded {
        margin-top: 60px;
    }
}
.top-downloaded ul li {
    margin-bottom: 28px;
    padding-bottom: 28px;
    border-bottom: 1px solid var(--section-bg);
}
.top-downloaded ul li img {
    max-width: 80px;
}
.top-downloaded ul li h4 {
    font-size: 15px;
    font-weight: 700;
    padding-top: 7px;
    margin: 0;
}
.top-downloaded ul li h6 {
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
    color: var(--font-color);
}
.top-downloaded ul li span {
    font-size: 15px;
    margin-right: 10px;
    display: inline-block;
}
.top-downloaded ul li span:first-of-type svg {
    color: yellow;
}
.top-downloaded ul li span:last-of-type svg {
    color: var(--main-color);
}
.top-downloaded ul li .download a {
    background-color: var(--section-bg);
    width: 46px;
    height: 46px;
    line-height: 46px;
    transform: translateY(calc(-50% - 14px));
}
@media (min-width: 992px) and (max-width: 1200px) {
    .top-downloaded ul li .download a {
        transform: translateY(calc(-50% + 14px));
    }
}
.top-downloaded ul li .download a svg {
    color: var(--main-color);
    font-size: 22px;
}
.top-downloaded .text-button a {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 600;
}

/* start stream */
.start-stream .heading-section {
    margin-top: 60px;
    margin-bottom: 60px;
}
.start-stream .item {
    border: 1px solid #444;
}
.start-stream .item img {
    max-width: 60px;
}
.start-stream .item h4 {
    font-weight: 600;
    margin: 20px 0 15px;
}
.start-stream .main-button {
    margin-top: 30px;
    text-align: center;
}

/* start live-stream */
.live-stream .item {
    margin-bottom: 30px;
}
.live-stream .item .thumb {
    margin-bottom: 20px;
}
.live-stream .item .thumb .hover-effect {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.live-stream .item .thumb:hover .hover-effect {
    opacity: 1;
    visibility: visible;
}
.live-stream .item .thumb .hover-effect .live {
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 5px 10px;
    font-size: 14px;
    top: 15px;
    right: 15px;
}
.live-stream .item .thumb .hover-effect ul {
    bottom: 20px;
}
.live-stream .item .thumb .hover-effect ul li {
    font-size: initial;
    text-align: center;
}
.live-stream .item .thumb .hover-effect ul li a {
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: var(--main-radius);
    padding: 5px 10px;
    font-size: 14px;
}
.live-stream .item .thumb .hover-effect ul li a svg {
    color: var(--white-color);
}
.live-stream .item .down-content img {
    max-width: 46px;
}
.live-stream .item .down-content span {
    color: var(--main-color);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.live-stream .item .down-content span svg {
    color: var(--main-color);
    background-color: var(--white-color);
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    line-height: 20px;
}
.live-stream .item .down-content h5 {
    font-size: 20px;
    margin: 8px 0 0 61px;
    font-weight: 700;
}
/* end browser */

/* start details */
.game-details h2 {
    margin: 60px 0;
    font-size: 45px;
    font-weight: 700;
}
.game-details .content .left-info,
.game-details .content .reght-info {
    background-color: var(--section-bg);
    margin-bottom: 30px;
}
.game-details .content .left-info .left h5 {
    font-size: 15px;
    font-weight: 700;
}
.game-details .content .left-info .left span {
    font-size: 15px;
    margin-top: 7px;
    font-weight: 400;
    display: block;
    color: var(--font-color);
}
.game-details .content .left-info ul li {
    text-align: right;
    font-size: 14px;
    margin-bottom: 3px;
}
.game-details .content ul li svg {
    color: var(--main-color);
}
.game-details .content ul li:first-of-type svg {
    color: yellow;
}
.game-details .content .reght-info ul li {
    width: 23%;
    font-size: 14px;
}
.game-details .content .reght-info ul li svg {
    margin-bottom: 12px;
}
.game-details .content img {
    margin-bottom: 30px;
}
.game-details .content .main-border-button {
    margin-top: 35px;
}
.game-details .content .main-border-button a:hover {
    color: #e75e8d;
}

/* start other-games */
.other-games .item {
    margin-bottom: 30px;
    padding-bottom: 52px;
    border-bottom: 1px solid var(--section-bg);
    position: relative;
}
.other-games .item img {
    margin-right: 15px;
    max-width: 80px;
    float: left;
}
.other-games .item h5 {
    font-size: 15px;
    font-weight: 700;
    margin: 15px 0 6px;
    display: inline-block;
}
.other-games .item span {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color);
    display: block;
}
.other-games .item ul {
    top: 15px;
}
/* end details */

/* start streams */
@media (min-width: 992px) and (max-width: 1200px) {
    .streams .featured-games {
        height: 790px;
    }
    .streams .featured-games .content {
        margin-top: 90px;
    }
    .streams .featured-games .content .swiper-button-prev,
    .streams .featured-games .content .swiper-button-next {
        top: -132px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .streams .featured-games {
        height: 712px;
    }
    .streams .featured-games .content {
        margin-top: 70px;
    }
    .streams .featured-games .content .swiper-button-prev,
    .streams .featured-games .content .swiper-button-next {
        top: -112px;
    }
}

.streams .top-downloaded ul li {
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.streams .top-downloaded ul li span {
    float: left;
    margin: 12px 10px 0 0;
    font-size: 15px;
    font-weight: 700;
}
.streams .top-downloaded ul li img {
    margin-right: 15px;
    max-width: 46px;
}
.streams .top-downloaded ul li h6 {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 400;
}
.streams .top-downloaded ul li h6 svg {
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    padding: 3px;
    margin-right: 4px;
}
.streams .top-downloaded ul li .main-button a {
    padding: 7px 20px;
}
/* end streams */

/* start profile */
.main-profile .main-info span {
    background-color: var(--main-color);
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 0.5;
    text-transform: capitalize;
}
.main-profile .main-info h3 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 23px;
}
.main-profile .main-info .main-border-button {
    margin-top: 25px
}
.main-profile ul.ul-info {
    background-color: var(--section-bg);
}
.main-profile ul.ul-info li {
    color: var(--font-color);
    font-size: 14px;
    width: 100%;
}
.main-profile ul.ul-info li:not(:last-child) {
    border-bottom: 1px solid var(--font-color);
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.main-profile ul.ul-info li span {
    color: #ec6090;
    font-weight: 500;
    float: right;
}

.main-profile .clips {
    margin-top: 30px;
    border-top: 2px solid var(--section-bg);
}
.main-profile .clips .heading-section {
    margin-top: 30px;
}
.main-profile .clips .item {
    background-color: var(--section-bg);
    margin-bottom: 30px;
    padding: 30px 15px;
}
.main-profile .clips .item h5 {
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
}
.main-profile .clips .item span {
    float: right;
    font-size: 14px;
}
.main-profile .clips .item span svg {
    color: var(--main-color);
}
footer {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
  }
  
  footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 20px;
  }
  
  form input {
    padding: 8px;
    width: 200px;
  }
  
  form button {
    padding: 8px 16px;
    background-color: #fff;
    color: #222;
    border: none;
    cursor: pointer;
  }
/* end profile */