.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(156, 39, 39, 0.1);
    animation: slideIn 0.5s ease-in-out;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .nav-menu li {
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-menu li:hover {
    transform: scale(1.1);
  }
  
  .form-fields,
  .details-fields,
  .event-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-fields > div,
  .details-fields > div,
  .event-fields > div {
    width: 48%;
    margin-bottom: 20px;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .create-btn,
  .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .create-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  
  .create-btn:hover {
    background-color: #45a049;
  }
  
  .cancel-btn:hover {
    background-color: #d32f2f;
  }